-e git+https://github.com/PostDispatchInteractive/authomatic.git@7ff4cba0ac0773cc547e7ed9a4ab06ccda346c5c#egg=Authomatic
awscli==1.18.137
bcdoc==0.16.0
bcrypt==3.2.0
boto==2.49.0
botocore==1.17.60
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
clan==0.2.3
click==7.1.2
colorama==0.4.3
copytext==0.2.1
cryptography==3.1
cssmin==0.2.0
docutils==0.16
ecdsa==0.16.0
et-xmlfile==1.0.1
Fabric3==1.14.post1
facebook-sdk==3.1.0
Flask==1.1.2
google-api-core==1.22.2
google-api-python-client==1.11.0
google-auth==1.21.1
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
gunicorn==20.0.4
htmlmin==0.1.12
httplib2==0.18.1
idna==2.10
invoke==1.4.1
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
nose==1.3.7
odict==1.7.0
openpyxl==3.0.5
paramiko==2.7.2
ply==3.11
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
PyNaCl==1.4.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
smartypants==2.0.1
ssh==1.8.0
termcolor==1.1.0
twitter==1.18.0
uritemplate==3.0.1
urllib3==1.25.10
Werkzeug==1.0.1
