{% extends '_base.html' %}

{% block css %}
	{{ CSS.push('less/app.less') }}
    {{ CSS.push('less/framework.less') }}
	{{ CSS.render('css/app.min.css') }}
{% endblock css %}


{% block error_meta %}
	<meta http-equiv="Refresh" content="5;url={{ COPY.content.project_url }}" />
{% endblock error_meta %}


{% block content %}
        <section id="error">
			<img id="bird" src="{{ COPY.content.project_url }}/img/404-bird-2014.png" />
        	<h3>Whatever you were looking for isn't here. Sorry about that.</h3>
        	<p>In a few seconds, we'll take you to the <a href="{{ COPY.content.project_url }}">{{ COPY.content.project_name }}</a> front page.</p> 
	    </section>
{% endblock content %}
