<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Feast 50 - Main page</title>
</head>
<body>

	<header>
		<div class="header__logo-wrapper">
			<img src="" class="header__logo">
		</div>

		<div class="header__intro">
			<h1 class="header__emphasis"></h1>
			<p></p>
		</div>
	</header>

	<section class="regions">
		<div class="region">
			<a href="">
				<p class="region__name">tk-region</p>
			</a>

			<img src="" class="region__photo">
		</div> <!-- .region -->
	</section> <!-- .regions -->
</body>
</html>