<footer>
    <div class="credits">
        <h6>Credits</h6>
        <p><b>Reporting:</b> <a class="email" href="">tk-name</a></p>
        <p><b>Development:</b> <a class="email" href="">tk-name</a></p>
        <p><b>Sources:</b> <a href="">tk-source</a></p>
        <p class="published">Published {{ COPY.content.publish_date }}</p>
    </div>

    <div class="logo">
        <a href="http://www.stltoday.com" target="_blank"><img src="{%if directory_depth == 2%}../../{%endif%}img/banner.png" alt="Post-Dispatch Logo">
        </a>
    </div>

    <div class="copyright">
        <p>© <a href="http://stltoday.com/help/copyright" target="_blank">Copyright</a> <script>document.write(new Date().getFullYear())</script>, <a href="http://stltoday.com" target="_blank">stltoday.com</a>
        </p>
        <p>900 N. Tucker Blvd. St. Louis, MO</p>
    </div>
</footer>