<div id="geolocation-error">
	<h1>We had trouble finding your location</h1>
	<h3>Choose a neighborhood from the list below:</h3>
	<select class="form-control" id="geolocation-dropdown">
			<option selected="true" disabled="disabled">Select a neighborhood</option>
			<option value="academy" data-nhd-num="51">Academy</option>
			<option value="baden" data-nhd-num="74">Baden</option>
			<option value="bellefontaine-calvary-cemetery" data-nhd-num="86">Bellefontaine/Calvary Cemetery</option>
			<option value="benton-park" data-nhd-num="22">Benton Park</option>
			<option value="benton-park-west" data-nhd-num="30">Benton Park West</option>
			<option value="bevo-mill" data-nhd-num="5">Bevo Mill</option>
			<option value="botanical-heights" data-nhd-num="28">Botanical Heights</option>
			<option value="boulevard-heights" data-nhd-num="4">Boulevard Heights</option>
			<option value="carondelet" data-nhd-num="1">Carondelet</option>
			<option value="carondelet-park" data-nhd-num="80">Carondelet Park</option>
			<option value="carr-square" data-nhd-num="61">Carr Square</option>
			<option value="central-west-end" data-nhd-num="38">Central West End</option>
			<option value="cheltenham" data-nhd-num="41">Cheltenham</option>
			<option value="clayton-tamm" data-nhd-num="42">Clayton-Tamm</option>
			<option value="clifton-heights" data-nhd-num="11">Clifton Heights</option>
			<option value="college-hill" data-nhd-num="66">College Hill</option>
			<option value="columbus-square" data-nhd-num="62">Columbus Square</option>
			<option value="compton-heights" data-nhd-num="26">Compton Heights</option>
			<option value="covenant-blu-grand-center" data-nhd-num="77">Covenant Blu-Grand Center</option>
			<option value="debaliviere-place" data-nhd-num="47">DeBaliviere Place</option>
			<option value="downtown" data-nhd-num="35">Downtown</option>
			<option value="downtown-west" data-nhd-num="36">Downtown West</option>
			<option value="dutchtown" data-nhd-num="16">Dutchtown</option>
			<option value="ellendale" data-nhd-num="10">Ellendale</option>
			<option value="fairground-neighborhood" data-nhd-num="67">Fairground Neighborhood</option>
			<option value="fairground-park" data-nhd-num="83">Fairground Park</option>
			<option value="forest-park" data-nhd-num="82">Forest Park</option>
			<option value="forest-park-south-east" data-nhd-num="39">Forest Park South East</option>
			<option value="fountain-park" data-nhd-num="53">Fountain Park</option>
			<option value="fox-park" data-nhd-num="24">Fox Park</option>
			<option value="franz-park" data-nhd-num="43">Franz Park</option>
			<option value="gravois-park" data-nhd-num="19">Gravois Park</option>
			<option value="greater-ville" data-nhd-num="56">Greater Ville</option>
			<option value="hamilton-heights" data-nhd-num="78">Hamilton Heights</option>
			<option value="hi-pointe" data-nhd-num="44">Hi-Pointe</option>
			<option value="holly-hills" data-nhd-num="3">Holly Hills</option>
			<option value="hyde-park" data-nhd-num="65">Hyde Park</option>
			<option value="jeff-vanderlou" data-nhd-num="59">Jeff Vanderlou</option>
			<option value="kings-oak" data-nhd-num="40">Kings Oak</option>
			<option value="kingsway-east" data-nhd-num="55">Kingsway East</option>
			<option value="kingsway-west" data-nhd-num="52">Kingsway West</option>
			<option value="kosciusko" data-nhd-num="20">Kosciusko</option>
			<option value="lafayette-square" data-nhd-num="32">Lafayette Square</option>
			<option value="lasalle-park" data-nhd-num="34">LaSalle Park</option>
			<option value="lewis-place" data-nhd-num="54">Lewis Place</option>
			<option value="lindenwood-park" data-nhd-num="9">Lindenwood Park</option>
			<option value="marine-villa" data-nhd-num="18">Marine Villa</option>
			<option value="mark-twain" data-nhd-num="71">Mark Twain</option>
			<option value="mark-twain-i-70-industrial" data-nhd-num="70">Mark Twain I-70 Industrial</option>
			<option value="mckinley-heights" data-nhd-num="23">McKinley Heights</option>
			<option value="midtown" data-nhd-num="37">Midtown</option>
			<option value="missouri-botanical-garden" data-nhd-num="87">Missouri Botanical Garden</option>
			<option value="mount-pleasant" data-nhd-num="17">Mount Pleasant</option>
			<option value="near-north-riverfront" data-nhd-num="64">Near North Riverfront</option>
			<option value="north-hampton" data-nhd-num="14">North Hampton</option>
			<option value="north-pointe" data-nhd-num="73">North Pointe</option>
			<option value="north-riverfront" data-nhd-num="79">North Riverfront</option>
			<option value="ofallon" data-nhd-num="68">O'Fallon</option>
			<option value="ofallon-park" data-nhd-num="85">O'Fallon Park</option>
			<option value="old-north-st-louis" data-nhd-num="63">Old North St. Louis</option>
			<option value="patch" data-nhd-num="2">Patch</option>
			<option value="peabody-darst-webbe" data-nhd-num="33">Peabody Darst Webbe</option>
			<option value="penrose" data-nhd-num="69">Penrose</option>
			<option value="penrose-park" data-nhd-num="84">Penrose Park</option>
			<option value="princeton-heights" data-nhd-num="6">Princeton Heights</option>
			<option value="riverview" data-nhd-num="75">Riverview</option>
			<option value="shaw" data-nhd-num="27">Shaw</option>
			<option value="skinker-debaliviere" data-nhd-num="46">Skinker DeBaliviere</option>
			<option value="soulard" data-nhd-num="21">Soulard</option>
			<option value="south-hampton" data-nhd-num="7">South Hampton</option>
			<option value="southwest-garden" data-nhd-num="13">Southwest Garden</option>
			<option value="st-louis-hills" data-nhd-num="8">St. Louis Hills</option>
			<option value="st-louis-place" data-nhd-num="60">St. Louis Place</option>
			<option value="the-gate-district" data-nhd-num="31">The Gate District</option>
			<option value="the-hill" data-nhd-num="12">The Hill</option>
			<option value="the-ville" data-nhd-num="57">The Ville</option>
			<option value="tiffany" data-nhd-num="29">Tiffany</option>
			<option value="tower-grove-east" data-nhd-num="25">Tower Grove East</option>
			<option value="tower-grove-park" data-nhd-num="81">Tower Grove Park</option>
			<option value="tower-grove-south" data-nhd-num="15">Tower Grove South</option>
			<option value="vandeventer" data-nhd-num="58">Vandeventer</option>
			<option value="visitation-park" data-nhd-num="49">Visitation Park</option>
			<option value="walnut-park-east" data-nhd-num="72">Walnut Park East</option>
			<option value="walnut-park-west" data-nhd-num="76">Walnut Park West</option>
			<option value="wells-goodfellow" data-nhd-num="50">Wells Goodfellow</option>
			<option value="west-end" data-nhd-num="48">West End</option>
			<option value="wilmore-park" data-nhd-num="88">Wilmore Park</option>
			<option value="wydown-skinker" data-nhd-num="45">Wydown Skinker</option>
	</select>
	<div class="close-button fa-stack">
		<i class="fa fa-times" role="presentation" title="Close"></i>
	</div>
</div>
