<!-- Google Tag Manager -->
<script>
function dataHashParam(parm) {
    var re = new RegExp("#.*[?&]" + parm + "=([^&]+)(&|$)");
    var match = location.href.match(re);
    return match ? match[1] : '';
}
var dataLayer = [{
    'ga_ua': 'UA-54716522-2',
    'ga_ua_local': 'UA-26472327-1',
    'comscore': '2',
    'comscore_2': '9794746',
    'quantcast': 'p-700bcf3-jPMko',
    'quantcast_2': 'p-7dva0PeWUMPrA',
    'gravity': '8e869b3a021a8bf8e030fa6bc6ebd3d6',
    'adroll_adv': 'OISRCTP2N5CE5GW2ESJAH6',
    'adroll_pix': 'ZBBF4EWMKBEQDBWNF5BNZC',
    'blox_domain': 'stltoday.com',
    'blox_platform': 'desktop',
    'blox_skin': 'stl-graphics',
    'blox_application': 'graphics',
    'blox_sections': 'news,local', // add third more specific category here like `crime-and-courts` or `politics`
    'taxonomy_1': 'news',
    'taxonomy_2': 'local',
    'taxonomy_3': '', // add third more specific category here like `crime-and-courts` or `politics`
    'taxonomy_4': '',
    'taxonomy_5': '',
    'content_group': '1',
    'content_group_id': 'news',
    'utm_label': dataHashParam('utm_label'),
    'asset_tag_1':'sweeps',
    'asset_tag_2':'',
    'asset_tag_3':'',
    'asset_tag_4':'',
}];
</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TDWDC2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDWDC2');</script>
<script>
function ga_track( id, url, type, path, title, byline )
{
    var url = url.replace(/^.*\/\/[^\/]+/, '');
    dataLayer.push({
        'event': 'VirtualPageview',
        'virtualPageURL': url,
        'virtualPageTitle': title
    });
}</script>
<!-- End Google Tag Manager -->