<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ COPY.content.project_url }}/img/favicons/apple-touch-icon-180x180.png">
<link rel="shortcut icon" href="{{ COPY.content.project_url }}/img/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="{{ COPY.content.project_url }}/img/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ COPY.content.project_url }}/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ COPY.content.project_url }}/img/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="160x160" href="{{ COPY.content.project_url }}/img/favicons/favicon-160x160.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ COPY.content.project_url }}/img/favicons/favicon-192x192.png" >
<meta name="msapplication-TileColor" content="#d2232a">
<meta name="msapplication-TileImage" content="{{ COPY.content.project_url }}/img/favicons/mstile-144x144.png">

{{ CSS.push('less/app.less') }}
{{ CSS.render('css/app.min.css') }}
