<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Feast 50 - tk-region</title>
</head>
<body>

	<nav>
		<div class="nav__logo--wrapper">
			<a href=""><img src="" class="nav__logo"></a>
		</div>

		<div class="nav__social">
			<a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
		</div>
	</nav>

	<header>
		<img src="" class="header__image">
	</header>

	<section class="winners">
		<div class="winner__group">
			<div class="winner__header">
				<p class="winner__category">tk-category</p>
				<img src="">
			</div> <!-- .winner__header -->

			<div class="winner__info">
				<div class="winner">
					<p class="winner__subtitle">tk-subtitle </p>
					<a href="" target="_blank"><p class="winner__name">tk-name <i class="fa fa-external-link" aria-hidden="true"></i></p></a>
				</div> <!-- .winner -->

				<div class="runner-up">
					<p class="runner-up__subtitle">tk-subtitle </p>
					<a href="" target="_blank"><p class="runner-up__name">tk-name <i class="fa fa-external-link" aria-hidden="true"></i></p></a>
				</div> <!-- .runner-up -->
			</div> <!-- .winner__info -->
		</div> <!-- .winner__group -->
	</section> <!-- .winners -->


</body>
</html>