<!-- Facebook -->
<meta property="og:title" content="{{ COPY.share.facebook_title }}">
<meta property="og:site_name" content="{{ COPY.share.facebook_site_name }}">
<meta property="og:url" content="{{ COPY.share.share_url }}">
<meta property="og:description" content="{{ COPY.share.facebook_text }}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ COPY.share.facebook_image_url }}">
<meta property="fb:app_id" content="{{ COPY.share.facebook_app_id }}">
<meta property="article:publisher" content="{{ COPY.share.facebook_article_publisher }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="">
<meta name="twitter:title" content="{{ COPY.share.twitter_text }}">
<meta name="twitter:description" content="{{ COPY.share.twitter_text }}">
<meta name="twitter:image" content="{{ COPY.share.twitter_image_url }}">
<meta name="twitter:site" content="{{ COPY.share.twitter_handle }}">
<meta name="twitter:creator" content="{{ COPY.share.twitter_handle }}">
